# Build directories
build/
dist/
deploy/
*.egg-info/

# IDE settings
.vscode/

# Coverage files
.coverage
coverage.xml

# Cache
__pycache__/

# Test directories
python/src/pyxspress/create_config/config/
python/src/pyxspress/create_config/support/

# Virtual enviroments
server/conf_venv


